<div class="card-body">
  <form
    action="/admin/combos/edit/<%= combo.id %>"
    method="POST"
    id="editComboForm"
  >
    <div class="form-group">
      <label for="name">Tên combo:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        value="<%= combo.name %>"
        placeholder="Nhập tên combo"
        required
      />
    </div>
    <div class="form-group">
      <label for="price">Giá:</label>
      <input
        type="number"
        class="form-control"
        id="price"
        name="price"
        value="<%= combo.price %>"
        placeholder="Nhập giá combo"
        required
      />
    </div>
    <div class="form-group">
      <label for="description">Mô tả:</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        rows="3"
        placeholder="Nhập mô tả combo"
        required
      >
<%= combo.description %></textarea
      >
    </div>

    <div id="productForm">
      <label for="name">Sản phẩm:</label>
      <select id="productName" class="form-control">
        <% products.forEach(product => { %> <% if (product.quantityAvailable >
        0) { %>
        <option
          value="<%= product.id %>"
          data-price="<%= product.price %>"
          data-quantity="<%= product.quantityAvailable %>"
        >
          <%= product.name %>
        </option>
        <% } else { %>
        <option value="" disabled>
          <%= product.name %> - Không có sản phẩm
        </option>
        <% } %> <% }) %>
      </select>
    </div>

    <button type="button" id="editAddProductButton" class="btn btn-primary">
      Thêm sản phẩm
    </button>

    <div class="selected-products">
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Giá sản phẩm</th>
            <th></th>
          </tr>
        </thead>

        <tbody id="selectedProductsTable">
          <% combo.ComboItems.forEach(item => { %>
          <tr>
            <td><%= item.Product.name %></td>
            <td><%= item.quantity %></td>
            <td>
              <%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency:
              'VND' }).format(item.Product.price) %>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-danger delete-product-button"
              >
                Xóa
              </button>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <button type="submit" class="btn btn-primary">Cập nhật combo</button>
  </form>
</div>

<script>
  document
    .getElementById("editAddProductButton")
    .addEventListener("click", function () {
      const productSelect = document.getElementById("productName");
      const selectedProductOption =
        productSelect.options[productSelect.selectedIndex];
      const productName = selectedProductOption.text;
      const productId = selectedProductOption.value;
      const productPrice = selectedProductOption.dataset.price;
      const productQuantity = selectedProductOption.dataset.quantity;

      if (!productId) {
        alert("Vui lòng chọn sản phẩm trước khi thêm!");
        return;
      }

      const selectedProductsTable = document.getElementById(
        "selectedProductsTable"
      );
      const newRow = document.createElement("tr");
      newRow.innerHTML = `
      <td>${productName}</td>
      <td>${productQuantity}</td>
      <td>${new Intl.NumberFormat("vi-VN", {
        style: "currency",
        currency: "VND",
      }).format(productPrice)}</td>
      <td><button type="button" class="btn btn-danger delete-product-button">Xóa</button></td>   
      <input type="hidden" name="comboItems" value="${productId}">
      <input type="hidden" name="comboQuantities" value="${productQuantity}">
    `;
      selectedProductsTable.appendChild(newRow);

      document
        .querySelectorAll(".delete-product-button")
        .forEach(function (button) {
          button.addEventListener("click", function () {
            button.parentNode.parentNode.remove();
          });
        });
    });
</script>
