<div class="card-body">
    <!-- Thêm phần tìm kiếm -->
    <section class="justify-content-between content mb-3">
      <div class="container-fluid">
        <div class="row">
          <div class="d-flex align-items-center col-md-8 offset-md-2 ml-0 p-0">
            <form action="">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control form-control-md"
                  name="keyword"
                  placeholder="Nhập từ tìm kiếm"
                />
                <div class="input-group-append" width="38px" height="38px">
                  <button type="submit" class="btn btn-md btn-default">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
            <div class="dropdown ml-2">
              <button class="btn btn-default" data-toggle="dropdown">
                <i class="fa fa-filter"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="card-body">
        <div class="mb-3">
          <form action="/admin/combos/add" method="get">
            <class="nav-link <%= title === "Thêm combo" ? "active" : "" %>">
            <button type="submit" class="btn btn-primary">Thêm mới</button>
          </form>
        </div>
    <!-- Thêm bảng danh sách combo -->
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th style="width: 20px">#</th>
          <th>Tên combo</th>
          <th>Giá combo</th>
          <th>Mô tả </th>  
          <th>Sản phẩm</th>
          <th>Số lượng</th>   
          <th colspan="2">Chức năng</th>
        </tr>
      </thead>
  
      <tbody>
        <% combos.forEach((combo,index)=> { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= combo.name %></td>
          <td><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(combo.price) %></td>
          <td><%= combo.description %></td>
          <td>
            <% let productNames = []; %>
            <% combo.ComboItems.forEach((item, index) => { %>
              <% const product = products.find(product => product.id === item.productId); %>
              <% if (product) { %>
                <% productNames.push(product.name); %>
              <% } %>
            <% }) %>
            <%= productNames.join(', ') || 'Không có sản phẩm' %>
          </td>
          <td>
            <% let minQuantity = null; %>
            <% combo.ComboItems.forEach((item, index) => { %>
              <% if (minQuantity === null || item.quantity < minQuantity) { %>
                <% minQuantity = item.quantity; %>
              <% } %>
            <% }) %>
            <%= minQuantity || 'Không có số lượng' %>
          </td>
          <td>
            <form action="/admin/combos/edit/<%= combo.id %>" method="get">
                <button type="submit" class="btn btn-info">
                    <i class="fas fa-edit"></i>
                </button>
            </form>
        </td>
          </td>
          <td>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger-<%= combo.id %>">
                <i class="fas fa-trash-alt"></i>
            </button>
            <div class="modal fade" id="modal-danger-<%= combo.id %>">
                <div class="modal-dialog">
                    <div class="modal-content bg-danger">
                        <div class="modal-header">
                            <h4 class="modal-title">Xóa combo</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Bạn có chắc xóa combo này?</p>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-light" data-dismiss="modal">Không</button>
                            <form action="/admin/combos/delete/<%= combo.id %>" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-outline-light">Có</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <div class="d-flex mt-3 align-items-center justify-content-between">
      <!-- Chọn số lượng bản ghi hiển thị -->
      <form action="" method="post">
        <div class="form-group">
          <div class="d-flex align-items-center" style="width: 170px">
            <label class="mr-2 mb-0 w-100">Số bản ghi</label>
            <select class="form-control record-number" name="recordNumber">
              <option value="5" <%= +recordNumber === 5 ? 'selected' : "" %>>5</option>
              <option value="10" <%= +recordNumber === 10 ? 'selected' : "" %>>10</option>
              <option value="15" <%= +recordNumber === 15 ? 'selected' : "" %>>15</option>
              <option value="20" <%= +recordNumber === 20 ? 'selected' : "" %>>20</option>
            </select>
          </div>
        </div>
      </form>
      <!-- phân trang -->
      <%- include("../../subviews/paginate", {totalPage, page}) %>
    </div>
  </div>
  