
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a href="/admin"
		class="brand-link">
		<span class="d-flex align-items-center brand-text font-weight-light">
			
			<h3 class="font-weight-bold mb-0 ml-2">Admin</h3>
		</span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column"
				data-widget="treeview"
				role="menu"
				data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class
   with font-awesome or any other icon font library -->
				<li class="nav-item">
					<a href="/admin"
						class="nav-link <%= moduleName === "Tổng quan" ? "active" : "" %>">
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>Tổng quan</p>
					</a>
				</li>
				<% if(permissionUtils.getPermissionUser(permissionUser, 'users.read')) {%>
				<li class="nav-item <%= moduleName === "Người dùng" ? "menu-is-opening menu-open" : "" %>">
					<a href="#"
						class="nav-link <%= moduleName === "Người dùng" ? "active" : "" %>">
						<i class="nav-icon fas fa-users"></i>
						<p>
							Người dùng
							<i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/admin/users"
								class="nav-link <%= title === "Danh sách người dùng" ? "active" : "" %>">
								<i class="far fa-circle nav-icon active"></i>
								<p>Danh sách</p>
							</a>
						</li>
						<% if(permissionUtils.getPermissionUser(permissionUser, 'users.add')) {%>
						<li class="nav-item">
							<a href="/admin/users/add"
								class="nav-link <%= title === "Thêm người dùng" ? "active" : "" %>">
								<i class="far fa-circle nav-icon"></i>
								<p>Thêm mới</p>
							</a>
						</li>
						<% } %>
					</ul>
				</li>
				<% } %>
				<% if(permissionUtils.getPermissionUser(permissionUser, 'roles.read')) {%>
				<li class="nav-item <%= moduleName === "Role" ? "menu-is-opening menu-open" : "" %>">
					<a href="#"
						class="nav-link <%= moduleName === "Role" ? "active" : "" %>">
						<i class="fas fa-user-cog"></i>
						<p>
							Role
							<i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/admin/roles"
								class="nav-link <%= title === "Danh sách Role" ? "active" : "" %>">
								<i class="far fa-circle nav-icon active"></i>
								<p>Danh sách</p>
							</a>
						</li>
						<% if(permissionUtils.getPermissionUser(permissionUser, 'roles.add')) {%>
						<li class="nav-item">
							<a href="/admin/roles/add"
								class="nav-link <%= title === "Thêm role" ? "active" : "" %>">
								<i class="far fa-circle nav-icon"></i>
								<p>Thêm mới</p>
							</a>
						</li>
						<% } %>
					</ul>
				</li>
				<% } %>
				<% if(permissionUtils.getPermissionUser(permissionUser, 'categories.read')) {%>
				<li class="nav-item <%= moduleName === "Danh mục" ? "menu-is-opening menu-open" : "" %>">
					<a href="#"
						class="nav-link <%= moduleName === "Danh mục" ? "active" : "" %>">
						<i class="fas fa-tags"></i>
						<p>
							Quản lý danh mục
							<i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/admin/categories"
								class="nav-link <%= title === "Danh sách danh mục" ? "active" : "" %>">
								<i class="far fa-circle nav-icon active"></i>
								<p>Danh sách</p>
							</a>
						</li>
					</ul>
				</li>
				<% } %>
			
				<% if(permissionUtils.getPermissionUser(permissionUser, 'products.read')) {%>
				<li class="nav-item <%= moduleName === "Sản phẩm" ? "menu-is-opening menu-open" : "" %>">
					<a href="#"
						class="nav-link <%= moduleName === "Sản phẩm" ? "active" : "" %>">
						<i class="fas fa-shopping-cart"></i>
						<p>
							Quản lý sản phẩm
							<i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/admin/products"
								class="nav-link <%= title === "Danh sách sản phẩm" ? "active" : "" %>">
								<i class="far fa-circle nav-icon active"></i>
								<p>Danh sách sản phẩm</p>
							</a>
						</li>
				<% if(permissionUtils.getPermissionUser(permissionUser, 'products.add')) {%>
						<li class="nav-item">
							<a href="/admin/products/add"
								class="nav-link <%= title === "Thêm sản phẩm" ? "active" : "" %>">
								<i class="far fa-circle nav-icon"></i>
								<p>Thêm sản phẩm</p>
							</a>
						</li>
						<% } %>

						<li class="nav-item">
							<a href="/admin/combos"
								class="nav-link <%= title === "Danh sách combo" ? "active" : "" %>">
								<i class="far fa-circle nav-icon "></i>
								<p>Combo sản phẩm</p>
							</a>
						</li>
					</ul>
				</li>
				<% } %>
				<% if(permissionUtils.getPermissionUser(permissionUser, 'orders.read')) {%>
				<li class="nav-item <%= moduleName === "Đơn hàng" ? "menu-is-opening menu-open" : "" %>">
					<a href="#"
						class="nav-link <%= moduleName === "Đơn hàng" ? "active" : "" %>">
						<i class="fas fa-box-open"></i>
						<p>
							Quản lý đơn hàng
							<i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/admin/orders"
								class="nav-link <%= title === "Danh sách đơn hàng" ? "active" : "" %>">
								<i class="far fa-circle nav-icon active"></i>
								<p>Danh sách đơn hàng</p>
							</a>
						</li>
						<% if(permissionUtils.getPermissionUser(permissionUser, 'orders.add')) {%>
						<li class="nav-item">
							<a href="/admin/orders/add"
								class="nav-link <%= title === "Thêm đơn hàng" ? "active" : "" %>">
								<i class="far fa-circle nav-icon"></i>
								<p>Thêm đơn hàng</p>
							</a>
						</li>
						<% } %>
					</ul>
				</li>
				<% } %>
				<li class="nav-item">
					<a href="/admin/setting"
						class="nav-link <%= moduleName === "Cài đặt" ? "active" : "" %>">
						<i class="fas fa-cog"></i>
						<p>
							Cài Đặt
						</p>
					</a>
				</li>
			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>