<form
  action="/admin/users/permissions/add/<%= user.id %>"
  method="post"
  autocomplete="off"
>
  <div class="mb-3">
    <label for="">Tên người dùng:</label>
    <input
      type="text"
      name="userName"
      placeholder="Tên Người dùng..."
      class="form-control"
      value="<%= user.name %>"
      disabled
    />
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th width="29%">Module</th>
        <th>Quyền</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Quản lý người dùng</td>
        <td>
          <div class="row">
            <div class="col">
              <input type="checkbox" id="usersRead" name="permission"
              value="users.read" <%=
              permissionUtils.getPermissionUser(permissionUser, "users.read") &&
              "checked" %> />
              <label for="usersRead">Xem</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="usersAdd"
              value="users.add" <%=
              permissionUtils.getPermissionUser(permissionUser, "users.add") &&
              "checked" %> />
              <label for="usersAdd">Thêm</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="usersUpdate"
              value="users.update" <%=
              permissionUtils.getPermissionUser(permissionUser, "users.update")
              && "checked" %> />
              <label for="usersUpdate">Sửa</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="usersDelete"
              value="users.delete" <%=
              permissionUtils.getPermissionUser(permissionUser, "users.delete")
              && "checked" %> />
              <label for="usersDelete">Xóa</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="usersPermission"
              value="users.permission" <%=
              permissionUtils.getPermissionUser(permissionUser,
              "users.permission") && "checked" %> />
              <label for="usersPermission">Phân quyền</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Quản lý role</td>
        <td>
          <div class="row">
            <div class="col">
              <input type="checkbox" name="permission" id="rolesRead"
              value="roles.read" <%=
              permissionUtils.getPermissionUser(permissionUser, "roles.read") &&
              "checked" %> />
              <label for="rolesRead">Xem</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="rolesAdd"
              value="roles.add" <%=
              permissionUtils.getPermissionUser(permissionUser, "roles.add") &&
              "checked" %> />
              <label for="rolesAdd">Thêm</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="rolesUpdate"
              value="roles.update" <%=
              permissionUtils.getPermissionUser(permissionUser, "roles.update")
              && "checked" %> />
              <label for="rolesUpdate">Sửa</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="rolesDelete"
              value="roles.delete" <%=
              permissionUtils.getPermissionUser(permissionUser, "roles.delete")
              && "checked" %> />
              <label for="rolesDelete">Xóa</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Quản lý sản phẩm</td>
        <td>
          <div class="row">
            <div class="col">
              <input type="checkbox" name="permission" id="productsRead"
              value="products.read" <%=
              permissionUtils.getPermissionUser(permissionUser, "products.read")
              && "checked" %> />
              <label for="productsRead">Xem</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="productsAdd"
              value="products.add" <%=
              permissionUtils.getPermissionUser(permissionUser, "products.add")
              && "checked" %> />
              <label for="productsAdd">Thêm</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="productsUpdate"
              value="products.update" <%=
              permissionUtils.getPermissionUser(permissionUser,
              "products.update") && "checked" %> />
              <label for="productsUpdate">Sửa</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="productsDelete"
              value="products.delete" <%=
              permissionUtils.getPermissionUser(permissionUser,
              "products.delete") && "checked" %> />
              <label for="productsDelete">Xóa</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Quản lý danh mục</td>
        <td>
          <div class="row">
            <div class="col">
              <input type="checkbox" name="permission" id="categoriesRead"
              value="categories.read" <%=
              permissionUtils.getPermissionUser(permissionUser,
              "categories.read") && "checked" %> />
              <label for="categoriesRead">Xem</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="categoriesAdd"
              value="categories.add" <%=
              permissionUtils.getPermissionUser(permissionUser,
              "categories.add") && "checked" %> />
              <label for="categoriesAdd">Thêm</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="categoriesUpdate"
              value="categories.update" <%=
              permissionUtils.getPermissionUser(permissionUser,
              "categories.update") && "checked" %> />
              <label for="categoriesUpdate">Sửa</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="categoriesDelete"
              value="categories.delete" <%=
              permissionUtils.getPermissionUser(permissionUser,
              "categories.delete") && "checked" %> />
              <label for="categoriesDelete">Xóa</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Quản lý thương hiệu</td>
        <td>
          <div class="row">
            <div class="col">
              <input type="checkbox" name="permission" id="categoriesRead"
              value="categories.read" <%=
              permissionUtils.getPermissionUser(permissionUser,
              "categories.read") && "checked" %> />
              <label for="categoriesRead">Xem</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="categoriesAdd"
              value="categories.add" <%=
              permissionUtils.getPermissionUser(permissionUser,
              "categories.add") && "checked" %> />
              <label for="categoriesAdd">Thêm</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="rolesUpdate"
              value="categories.update" <%=
              permissionUtils.getPermissionUser(permissionUser,
              "categories.update") && "checked" %> />
              <label for="categoriesUpdate">Sửa</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="categoriesDelete"
              value="categories.delete" <%=
              permissionUtils.getPermissionUser(permissionUser,
              "categories.delete") && "checked" %> />
              <label for="categoriesDelete">Xóa</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Quản lý màu</td>
        <td>
          <div class="row">
            <div class="col">
              <input type="checkbox" name="permission" id="colorsRead"
              value="colors.read" <%=
              permissionUtils.getPermissionUser(permissionUser, "colors.read")
              && "checked" %> />
              <label for="colorsRead">Xem</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="colorsAdd"
              value="colors.add" <%=
              permissionUtils.getPermissionUser(permissionUser, "colors.add") &&
              "checked" %> />
              <label for="colorsAdd">Thêm</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="rolesUpdate"
              value="colors.update" <%=
              permissionUtils.getPermissionUser(permissionUser, "colors.update")
              && "checked" %> />
              <label for="colorsUpdate">Sửa</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="colorsDelete"
              value="colors.delete" <%=
              permissionUtils.getPermissionUser(permissionUser, "colors.delete")
              && "checked" %> />
              <label for="colorsDelete">Xóa</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Quản lý size</td>
        <td>
          <div class="row">
            <div class="col">
              <input type="checkbox" name="permission" id="sizesRead"
              value="sizes.read" <%=
              permissionUtils.getPermissionUser(permissionUser, "sizes.read") &&
              "checked" %> />
              <label for="sizesRead">Xem</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="sizesAdd"
              value="sizes.add" <%=
              permissionUtils.getPermissionUser(permissionUser, "sizes.add") &&
              "checked" %> />
              <label for="sizesAdd">Thêm</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="rolesUpdate"
              value="sizes.update" <%=
              permissionUtils.getPermissionUser(permissionUser, "sizes.update")
              && "checked" %> />
              <label for="sizesUpdate">Sửa</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="sizesDelete"
              value="sizes.delete" <%=
              permissionUtils.getPermissionUser(permissionUser, "sizes.delete")
              && "checked" %> />
              <label for="sizesDelete">Xóa</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Quản lý biến thể sản phẩm</td>
        <td>
          <div class="row">
            <div class="col">
              <input type="checkbox" name="permission" id="productVariantsRead"
              value="productVariants.read" <%=
              permissionUtils.getPermissionUser(permissionUser,
              "productVariants.read") && "checked" %> />
              <label for="productVariantsRead">Xem</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="productVariantsAdd"
              value="productVariants.add" <%=
              permissionUtils.getPermissionUser(permissionUser,
              "productVariants.add") && "checked" %> />
              <label for="productVariantsAdd">Thêm</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission"
              id="productVariantsUpdate" value="productVariants.update" <%=
              permissionUtils.getPermissionUser(permissionUser,
              "productVariants.update") && "checked" %> />
              <label for="productVariantsUpdate">Sửa</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission"
              id="productVariantsDelete" value="productVariants.delete" <%=
              permissionUtils.getPermissionUser(permissionUser,
              "productVariants.delete") && "checked" %> />
              <label for="productVariantsDelete">Xóa</label>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <button type="submit" class="btn btn-primary">Thêm</button>
  </div>
</form>
