<form
  action="/admin/roles/edit/<%= role.id %>"
  method="post"
  autocomplete="off"
>
  <div class="mb-3">
    <label for="">Tên</label>
    <input
      type="text"
      name="nameRole"
      placeholder="Tên Role..."
      class="form-control"
      value="<%= role.name %>"
    />
    <span class="text-danger"
      ><%= validate.getError(errors, "nameRole") %></span
    >
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th width="29%">Module</th>
        <th>Quyền</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Quản lý người dùng</td>
        <td>
          <div class="row">
            <div class="col">
              <input type="checkbox" id="usersRead" name="permission"
              value="users.read" <%= permissionUtils.get(permissions,
              "users.read") && "checked" %> />
              <label for="usersRead">Xem</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="usersAdd"
              value="users.add" <%= permissionUtils.get(permissions,
              "users.add") && "checked" %> />
              <label for="usersAdd">Thêm</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="usersUpdate"
              value="users.update" <%= permissionUtils.get(permissions,
              "users.update") && "checked" %> />
              <label for="usersUpdate">Sửa</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="usersDelete"
              value="users.delete" <%= permissionUtils.get(permissions,
              "users.delete") && "checked" %> />
              <label for="usersDelete">Xóa</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="usersPermission"
              value="users.permission" <%= permissionUtils.get(permissions,
              "users.permission") && "checked" %> />
              <label for="usersPermission">Phân quyền</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Quản lý role</td>
        <td>
          <div class="row">
            <div class="col">
              <input type="checkbox" name="permission" id="rolesRead"
              value="roles.read" <%= permissionUtils.get(permissions,
              "roles.read") && "checked" %> />
              <label for="rolesRead">Xem</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="rolesAdd"
              value="roles.add" <%= permissionUtils.get(permissions,
              "roles.add") && "checked" %> />
              <label for="rolesAdd">Thêm</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="rolesUpdate"
              value="roles.update" <%= permissionUtils.get(permissions,
              "roles.update") && "checked" %> />
              <label for="rolesUpdate">Sửa</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="rolesDelete"
              value="roles.delete" <%= permissionUtils.get(permissions,
              "roles.delete") && "checked" %> />
              <label for="rolesDelete">Xóa</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Quản lý sản phẩm</td>
        <td>
          <div class="row">
            <div class="col">
              <input type="checkbox" name="permission" id="productsRead"
              value="products.read" <%= permissionUtils.get(permissions,
              "products.read") && "checked" %> />
              <label for="productsRead">Xem</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="productsAdd"
              value="products.add" <%= permissionUtils.get(permissions,
              "products.add") && "checked" %> />
              <label for="productsAdd">Thêm</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="productsUpdate"
              value="products.update" <%= permissionUtils.get(permissions,
              "products.update") && "checked" %> />
              <label for="productsUpdate">Sửa</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="productsDelete"
              value="products.delete" <%= permissionUtils.get(permissions,
              "products.delete") && "checked" %> />
              <label for="productsDelete">Xóa</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Quản lý danh mục</td>
        <td>
          <div class="row">
            <div class="col">
              <input type="checkbox" name="permission" id="categoriesRead"
              value="categories.read" <%= permissionUtils.get(permissions,
              "categories.read") && "checked" %> />
              <label for="categoriesRead">Xem</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="categoriesAdd"
              value="categories.add" <%= permissionUtils.get(permissions,
              "categories.add") && "checked" %> />
              <label for="categoriesAdd">Thêm</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="categoriesUpdate"
              value="categories.update" <%= permissionUtils.get(permissions,
              "categories.update") && "checked" %> />
              <label for="categoriesUpdate">Sửa</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="categoriesDelete"
              value="categories.delete" <%= permissionUtils.get(permissions,
              "categories.delete") && "checked" %> />
              <label for="categoriesDelete">Xóa</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Quản lý thương hiệu</td>
        <td>
          <div class="row">
            <div class="col">
              <input type="checkbox" name="permission" id="brandsRead"
              value="brands.read" <%= permissionUtils.get(permissions,
              "brands.read") && "checked" %> />
              <label for="brandsRead">Xem</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="brandsAdd"
              value="brands.add" <%= permissionUtils.get(permissions,
              "brands.add") && "checked" %> />
              <label for="brandsAdd">Thêm</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="brandsUpdate"
              value="brands.update" <%= permissionUtils.get(permissions,
              "brands.update") && "checked" %> />
              <label for="brandsUpdate">Sửa</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="brandsDelete"
              value="brands.delete" <%= permissionUtils.get(permissions,
              "brands.delete") && "checked" %> />
              <label for="brandsDelete">Xóa</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Quản lý màu</td>
        <td>
          <div class="row">
            <div class="col">
              <input type="checkbox" name="permission" id="colorsRead"
              value="colors.read" <%= permissionUtils.get(permissions,
              "colors.read") && "checked" %> />
              <label for="colorsRead">Xem</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="colorsAdd"
              value="colors.add" <%= permissionUtils.get(permissions,
              "colors.add") && "checked" %> />
              <label for="colorsAdd">Thêm</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="colorsUpdate"
              value="colors.update" <%= permissionUtils.get(permissions,
              "colors.update") && "checked" %> />
              <label for="colorsUpdate">Sửa</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="colorsDelete"
              value="colors.delete" <%= permissionUtils.get(permissions,
              "colors.delete") && "checked" %> />
              <label for="colorsDelete">Xóa</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Quản lý size</td>
        <td>
          <div class="row">
            <div class="col">
              <input type="checkbox" name="permission" id="sizesRead"
              value="sizes.read" <%= permissionUtils.get(permissions,
              "sizes.read") && "checked" %> />
              <label for="sizesRead">Xem</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="sizesAdd"
              value="sizes.add" <%= permissionUtils.get(permissions,
              "sizes.add") && "checked" %> />
              <label for="sizesAdd">Thêm</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="sizesUpdate"
              value="sizes.update" <%= permissionUtils.get(permissions,
              "sizes.update") && "checked" %> />
              <label for="sizesUpdate">Sửa</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="sizesDelete"
              value="sizes.delete" <%= permissionUtils.get(permissions,
              "sizes.delete") && "checked" %> />
              <label for="sizesDelete">Xóa</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Quản lý biến thể sản phẩm</td>
        <td>
          <div class="row">
            <div class="col">
              <input type="checkbox" name="permission" id="productVariantsRead"
              value="productVariants.read" <%= permissionUtils.get(permissions,
              "productVariants.read") && "checked" %> />
              <label for="productVariantsRead">Xem</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission" id="productVariantsAdd"
              value="productVariants.add" <%= permissionUtils.get(permissions,
              "productVariants.add") && "checked" %> />
              <label for="productVariantsAdd">Thêm</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission"
              id="productVariantsUpdate" value="productVariants.update" <%=
              permissionUtils.get(permissions, "productVariants.update") &&
              "checked" %> />
              <label for="productVariantsUpdate">Sửa</label>
            </div>
            <div class="col">
              <input type="checkbox" name="permission"
              id="productVariantsDelete" value="productVariants.delete" <%=
              permissionUtils.get(permissions, "productVariants.delete") &&
              "checked" %> />
              <label for="productVariantsDelete">Xóa</label>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <input type="hidden" name="_method" value="PATCH" />
    <button type="submit" class="btn btn-primary">Sửa</button>
  </div>
</form>
