<div class="card-body">
	<section class="justify-content-between content mb-3">
		<div class="container-fluid">
			<div class="row">
				<div class="d-flex align-items-center col-md-8 offset-md-2 ml-0 p-0">
					<form action=""
						method="get">
						<div class="input-group">
							<input type="text"
								class="form-control form-control-md"
								name="keyword"
								placeholder="Nhập từ tìm kiếm">
							<div class="input-group-append"
								width="38px"
								height="38px">
								<button type="submit"
									class="btn btn-md btn-default">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<table class="table table-bordered text-center">
		<thead>
			<tr>
				<th style="width: 20px">#</th>
				<th style="width: 40%">Tên</th>
				<% if(permissionUtils.getPermissionUser(permissionUser, 'roles.update') || permissionUtils.getPermissionUser(permissionUser, 'roles.delete')) {%>
				<th colspan="2">Chức năng</th>
				<% } %>
			</tr>
		</thead>
		<tbody>
			<% roles.forEach((role, index) => { %>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= role.name %></td>
				<% if(permissionUtils.getPermissionUser(permissionUser, 'roles.update')) {%>
				<td>
					<form action="/admin/roles/edit/<%= role.id %>"
						method="get">
						<button type="submit"
							class="btn btn-info">
							<i class="fas fa-edit"></i>
						</button>
					</form>
				</td>
				<% } %>
				<% if(permissionUtils.getPermissionUser(permissionUser, 'roles.delete')) {%>
				<td>
					<button type="button"
						class="btn btn-danger"
						data-toggle="modal"
						data-target="#modal-danger-<%= role.id %>">
						<i class="fas fa-trash-alt"></i>
					</button>
					<div class="modal fade"
						id="modal-danger-<%= role.id %>">
						<div class="modal-dialog">
							<div class="modal-content bg-danger">
								<div class="modal-header">
									<h4 class="modal-title">Xóa role</h4>
									<button type="button"
										class="close"
										data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Bạn có chắc xóa role này?</p>
								</div>
								<div class="modal-footer justify-content-between">
									<button type="button"
										class="btn btn-outline-light"
										data-dismiss="modal">
										Không
									</button>
									<form action="/admin/roles/delete/<%= role.id %>"
										method="post">
										<input type="hidden"
											name="_method"
											value="DELETE">
										<button type="submit"
											class="btn btn-outline-light">
											Có
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</td>
				<% } %>
			</tr>
			<% }) %>
		</tbody>
	</table>
	<div class="d-flex mt-3 align-items-center justify-content-between">
		<form action=""
			method="post">
			<div class="form-group">
				<div class="d-flex align-items-center"
					style="width: 170px">
					<label class="mr-2 mb-0 w-100">Số bản ghi</label>
					<select class="form-control record-number"
						name="recordNumber">
						<option value="5"
							<%= +recordNumber === 5 ? 'selected' : "" %>>5</option>
						<option value="10"
							<%= +recordNumber === 10 ? 'selected' : "" %>>10</option>
						<option value="15"
							<%= +recordNumber === 15 ? 'selected' : "" %>>15</option>
						<option value="20"
							<%= +recordNumber === 20 ? 'selected' : "" %>>20</option>
					</select>
				</div>
			</div>
		</form>
		<%- include("../../subviews/paginate", {totalPage, page}) %>
	</div>
</div>