
  <body class="card-body">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>#</th>
          <th>Tên</th>
          <th>Màu</th>
          <th>Size</th>
          <th>Giá</th>
          <th>Số lượng</th>
        </tr>
      </thead>
      <tbody>
        <% productVariants.forEach((variant, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= product.name %></td>
          <td><%= variant.ProductColor.name %></td>
          <td><%= variant.ProductSize.name %></td>
          <td>
            <%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency:
            'VND' }).format(variant.price) %>
          </td>
          <td><%= variant.quantityAvailable %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
